@import '@design';

.t-login {
    display: grid;
    grid-template-areas: 'info main';
    grid-template-columns: 34% 66%;
    height: 100vh;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-area: info;
    height: 100vh;
    padding: 0 20px;
    overflow: hidden;
    color: #fff;
    background: #2e3340;
}

.logo-login {
    height: 31px;
    padding-top: 20px;
}

.text-holder {
    position: relative;
    display: flex;
    align-items: center;
    // calc height minus logo login height
    height: calc(100vh - 51px);
    padding-left: 150px;

    h2 {
        margin-bottom: 12px;
        font-size: 56px;
        line-height: 1.1;
    }

    p {
        font-size: 18px;
    }

    .bg {
        position: absolute;
        top: 50%;
        left: 0;
    }

    .holder {
        position: relative;
    }
}

.main {
    position: relative;
    grid-area: main;
    height: 100vh;
}

.language-select-app {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 55px;
}
