.m-upload {
    width: 100%;
}

.yellow {
    color: #ffa800;
}

.img-holder {
    padding: 26px 0 10px;
}

.text-holder {
    padding: 16px 0 15px;
    background: #3e3e3e;

    p {
        margin: 0;
        font-size: 14px;
        color: #7b7b7b;
    }
}
