@import '@design';

.o-project-edit {
    width: 500px;
}

.project-form {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
}

.columns-holder {
    margin-right: 20px;
}

.form-element {
    width: 300px;
}
