.o-login {
    width: 100%;
}

.form-row {
    margin-bottom: 25px;
}

.forgot-password {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-align: center;
}

.form-login {
    margin-bottom: 14px;
}

.submit-holder {
    padding-top: 21px;
}
