.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VuePress default temp directory
docs/.vuepress/.temp
# VuePress default cache directory
docs/.vuepress/.cache
# VuePress default build output directory
docs/.vuepress/dist
