.a-button-product {
    padding: 4px 14px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    background: #2f2f2f;
    border-radius: 360px;
}

.amount {
    margin-left: 10px;
    font-size: 14px;
    color: #7b7b7b;
}
