.form-password,
.form-forgot {
    width: 300px;
    margin: 0 auto;
}

.submit-holder {
    padding-top: 26px;
}

.form-row {
    margin-bottom: 23px;
}

h2 {
    margin-bottom: 107px;
    text-align: center;
}
