// COLORS
//$color-white: #fff;
//$color-blue: #5780f7;
//$color-bordeaux: #b5173d;
//$color-gray-lilac: #f9fafe;
//$color-black: #000;
//$color-gray: #797e81;
//$color-gray-dark: #a5bad0;
//$color-gray-light: #334d6e;
//$color-white: #fff;
//$color-green: #00c48c;
//$color-blue-light: #eef2fe;
//
//// BG
//$color-body-bg: $color-gray-lilac;
//$color-header-bg: $color-white;
//$color-text: $color-black;
//$color-link-text: $color-bordeaux;
//$color-footer-text: $color-gray;

$color-main: #262626;
$color-body-bg: #fbfbfb;
$color-link: blue;
