// SCREEN
// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px)
$screen-xs-max: 575px;

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767px)
$screen-sm-min: 576px;
$screen-sm-max: 767px;

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991px)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199px)
$screen-lg-min: 992px;
$screen-lg-max: 1199px;

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px)
// mac book air 13 inch
$screen-min-width: 1140px;
